/* propiedades generales*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
}

body {
  background-color: #5F8B8B;
  min-height: 100vh;
  font-size: 20px;
}

main {
  padding: 10px;
}

h1.hidden {
  display: none;
}

.site {
  min-height: 100dvh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: nimmax(0, 1fr);
}

.centered {
  text-align: center;
}

.boldtext {
  font-weight: bold;
}

.graytext {
  color: #999999;
}

/* propiedades del header y navbar */
.header {
  height: 80px;
  background-color: #2d5363;
  font-size: 10px;
}
.header .logo img {
  height: 45px;
  width: auto;
  transition: all 0.3s;
}
.header .logo img:hover {
  transform: rotate(45deg);
}
.header .navbar {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 2rem;
}
.header .navbar .menu {
  display: none;
  z-index: 999;
}
.header .navbar .menu:checked + .ul_links {
  height: calc(100vh - 150px);
  z-index: 999;
}
.header .navbar .list_icon {
  color: #ffffff;
  cursor: pointer;
}

.ul_links {
  width: 100%;
  background-color: #2d5363;
  position: absolute;
  top: 80px;
  left: 0;
  height: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  transition: all 0.3s;
  list-style: none;
}

.link {
  font-size: 3em;
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
}

/* propiedades del card */
.custom-container {
  display: flex;
  flex-wrap: wrap;
  padding: auto;
  margin-bottom: 1rem;
  margin-left: 7%;
  margin-right: 7%;
}

.column-33 {
  flex: 0 0 100%;
  max-width: 100%;
}

.column-50 {
  flex: 0 0 100%;
  max-width: 100%;
}

.column-100 {
  flex: 0 0 100%;
  max-width: 100%;
}

@media (min-width: 982px) {
  .column-50 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .column-33 {
    flex: 0 0 33%;
    max-width: 33%;
  }
}
.auto-img {
  border-radius: 5px;
  width: 100%;
  height: auto;
}

.board {
  border: 1px solid #dee2e6;
  background-color: #ffffff;
  border-radius: 0.25rem;
  overflow: hidden;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1019607843);
}

.board-body {
  padding: 1rem;
}

.board-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.myrow {
  display: flex;
  flex-wrap: wrap;
  margin-right: 15px;
  margin-left: 15px;
  margin-bottom: 15px;
  justify-content: space-between;
}

.button {
  display: inline-block;
  padding: 0.375rem 0.75rem;
  margin-top: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  background-color: #6c7777;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
}
.button:hover {
  background-color: #5a6666;
  border-color: #545555;
}

.contact-container {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
}

.pad3rem {
  padding: 3rem;
}

.pad2rem {
  padding: 2rem;
}

/* propiedades del footer */
footer {
  background-color: #2d5363;
  bottom: 0;
  left: 0;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  color: #ffffff;
  margin-top: auto;
  font-size: 20px;
}

/* propiedades en mobile para navbar */
@media (min-width: 982px) {
  .label_icon {
    display: none;
  }
  .ul_links {
    position: static;
    height: auto;
    width: auto;
    flex-direction: row;
    gap: 2rem;
  }
  .link {
    font-size: 1.2rem;
    transition: all 0.3s;
    padding: 0.2rem 0.7rem;
  }
  .link:hover {
    background-color: #2d5363;
  }
}

/*# sourceMappingURL=styles.css.map */
