@use "colors";

footer {
	background-color: colors.$secondary-color;
	bottom: 0;
	left: 0;
	width: 100%;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
	color: colors.$white-color;
	margin-top: auto;
	font-size: 20px;
}
