@use "colors";

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Nunito', sans-serif;
}

body {
	background-color: colors.$primary;
	min-height: 100vh;
	font-size: 20px;
}

main {
	padding: 10px;
}

.site {
	min-height: 100dvh;
	display: grid;
	grid-template-rows: auto 1fr auto;
	grid-template-columns: nimmax(0,1fr);
}

.centered {
	text-align: center;
}

.boldtext {
	font-weight: bold;
}

.graytext {
	color: colors.$gray;
}
